/* css login dan register */
.form-container {
    width: 40%;
    margin: 50px auto;
    background-color: #f9f9f9;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.form-container h2 {
    text-align: center;
    color: #8c2fd3;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #8c2fd3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #5a1d91;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: #8c2fd3;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

/* Pesan notifikasi */
#loginMessage, #registerMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
